@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,.2); 
}

body {
    background-color: black;
}

nav {
    position: fixed;
    z-index: 5;
    display: flex;
    width: 95%;
}

#hamburger-container {
    cursor: pointer;
}

.hamburger {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

#contact {
    display: none;
    position: absolute;
    color: white;
    font-family: 'Lato';
    font-weight: 700;
}

.main-view {
    min-height: 100vh;
    background-image: url(img/Dune.png);
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 7em; 
}

.domain-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    font-family: 'Poppins';
    cursor: default;
}

.ball {
    border-radius: 50%;
    background-color: #4D6599;
    margin-left: 0.1em;
    margin-right: 0.1em;
    height: 0.4em;
    width: 0.4em;
}

.developer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 9em;
}

#my-name {
    color: white;
    font-size: 1.5em;
    font-family: 'Poppins';
    cursor: default;
}

.dev {
    color: #333b50;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Poppins';
    cursor: default;
    margin-top: -0.5em;
}

.dev:hover {
    transform: scale(1.2);
}

.main-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

.main-card {
    width: 5em;
    height: 5em;
    min-width: 5em;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    overflow: hidden;
    color: white;
    backdrop-filter: blur(14px);
    margin: 0px;
}

.github-icon {
    background-image: url(img/github.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    width: 2.8em;
    height: 2.8em;
    margin: 1em auto;
}

.linkedin-icon {
    position: relative;
    background-image: url(img/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    width: 3em;
    height: 3em;
    margin: 1em auto;
}

.main-card:hover {
    transform: scale(1.2);
}

.resume-view {
    min-height: 100vh;
    background-image: url(img/Dune.png);
    background-repeat: no-repeat;
    transform: scaleX(-1);
    transform: scaleY(-1);
}

.a-container {
    transform: scaleX(-1);
    transform: scaleY(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;
}

.card-container {
    display: none;
    width: 20em;
    min-width: 20em;
    height: 27em;
}

.a-card {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.a-card:hover {
    transform: scale(1.1);
}

.front-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    overflow: hidden;
    color: white;
    backdrop-filter: blur(14px);
}

.front-card h3 {
    z-index: 2;
    font-family: "Open Sans", sans-serif;
}

.text-card {
    font-weight: 400;
    font-size: 1em;
}

#profile-icon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 43%;
    background-image: url(img/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#diploma-icon {
    position: relative;
    width: 40px;
    height: 40px;
    left: 43%;
    background-image: url(img/diploma.png);
    background-repeat: no-repeat;
    background-size: cover;
}

svg {
    position: relative;
    width: 70px;
    height: 70px;
    transform: rotate(-90deg);
}
  
svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;
}
  
svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #3498db; 
}

#esi {
    color: #3498db;
}

.quote-view {
    padding-bottom: 40vh;
    padding-top: 10vh;
}

#quote-container {
    margin: 0 auto;
    text-align: justify;
    max-width: 40em;
    border-left: 3px solid grey;
    padding-left: 0em;
    font-family: 'Lato';
    color: white;
}

#esi-description {
    display: none;
    text-align: justify;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#esi-intro {
    font-size: small;
    font-weight: 600;
}

#esi-text {
    font-weight: 400;
}

.map-view {
    padding: 10%;
    overflow: hidden;
}

.world-map {
    position: relative;
    display: none;
    margin: 0 auto;
    max-width: 50em;
    overflow: auto;
}

.world-map-img {
    width: 50em;
}

.work-location {
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color:#4D6599;
    border-radius: 50%;
    border: 2px solid #3498db;
}

.work-location:hover {
    transform: scale(1.2);
}

.zone-description {
    position: relative;
    background-color: rgba(0,0,0,.8);
    width: 12em;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}

.location {
    font-size: small;
}

#belgium {
    position: relative;
    bottom: 16em;
    left: 23.5em;
}

#belgium-description {
    position: absolute;
    display: none;
    bottom: 18em;
    left: 23.5em;
}

#reunion {
    position: relative;
    bottom: 7em;
    left: 32em;
}

#reunion-description {
    position: absolute;
    display: none;
    bottom: 7.5em;
    left: 32.5em;
}